{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  {
    "root": true,
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
      "setCat": true
    },
  "rules": {
    "no-console": 1,
    "no-const-assign": 2,
    "no-unused-vars": 0,
    "no-undef": 0,
    "no-var": 1,
    "no-debugger": 0,
    "no-alert": 2,
    "no-new": 0,
    "no-new-wrappers": 1,
    "no-path-concat": 0,
    "no-process-env": 0,
    "no-eval": 2,
    "no-new-func": 0,
    "no-new-object": 0,
    "new-cap": 0,
    "strict": 1,
    "eqeqeq": 1,
    "max-len": [0, 80, 4],
    "prefer-const": 0
  }
}
