.req-form-cont {
    padding-top: 50%;
    text-align: left;
    margin: 1% auto 0 auto;
    border-radius: 5px;
}
.reg-form {
    .submit-btn {
        margin: 0 0 10px 0;
    }

}
.login-header {
    text-align: center;
    margin: 10px 0 0 0;
    color: #676565;
}
.FormLabel {
    margin: 10px 0 5px 0;
}
.label-text {
    color: #1872ab;
}
.email-label {
    padding-top: 10px;
}
.submit-btn {
    margin-bottom: 10px;
    background-color: #1ab394;
    color: #ffffff;
}
