.req-form-cont {
    padding-top: 40%;
    text-align: left;
    margin: 1% auto 0 auto;
    border-radius: 5px;
}
.reg-form {
    .submit-btn {
        margin: 0 0 10px 0;
    }
}
.login-header {
    text-align: center;
    margin: 10px 0 0 0;
    color: #676565;
}
.FormLabel {
    margin: 10px 0 5px 0;
}
.label-text {
    color: #1872ab;
}
.email-label {
    padding-top: 10px;
}
.submit-btn {
    margin-bottom: 15px;
    background-color: @secondary-color;
    color: #ffffff;
}
.category-form {
    padding-top: 30%;
    .category-header {
        text-align: center;
    }
}
.form-control:focus {
    box-shadow: inset 0 1px 1px  @secondary-color;
    border-color: @secondary-color !important;
}
.config-form {
    .select-category {

        margin-top: 10px;
    }
    .configure-header {
        .login-header;
    }
    .submit-category-btn {
        margin-top: 20px;
        background-color: @secondary-color;
        color: #ffffff;
    }
    overflow-y: auto;
}

.configure-select {
    .FormSelect {
        color: @main-color;
    }
    font: 14px 'Roboto';
    font-weight: bold;
    margin-top: 10px;
    border: 1px solid @secondary-color;
    border-radius: 5px 5px;
}
.selected-category {
    display: block-inline;
    margin-right: 5px;
}
.configure-category {
    display: block-inline;
    color: #ffffff;
    border-radius: 2px 2px;
    background-color: @secondary-color;
    padding: 4px;
    .list-element {
        background-color: @main-color;
    }
}
.category-name-text {
    font: 16px 'Roboto';
    font-weight: bold;
}
.items-list-text {
    display: block;
    margin-top: 5px;
    font: 16px 'Roboto';
    color: @main-color;
    .items {
        display: block;
        color: @secondary-color;
        .fa-times {
            background-image: none;
            color: #ff0000;
        }
    }
}

.del-category-btn {
    .fa-times {
        background-image: none;
        color: #ff0000;
    }
    background-color: #ffffff;
    clear: both;
}

.del-selected-btn {
    font: 16px 'Roboto' !important;
    padding: 5px 5px !important;
}
