#app {
    font-family: 'Roboto', sans-serif;
}
.header {
    height: 30px;
    background-color: #676a6c;
    margin: 0;
    width : 105%;
}
.header-text {
    color: #ffffff;
    margin-left: 10px;
    padding-top: 5px;
}
.phrase {
    font-size: 20px;
    color: #2f4050;
    text-align: center;
}
.phrase-col {
    margin: 0 0 0 0;
    .select-comp {
        padding: 0;
        .btn-sunc {
            background-color: #1ab394;
            margin-top: 10px;
            width: 50px;
            color: #ffffff;
        }
        .select-category {
            margin: 10px 0 0 10px;
            font: Helvetica 15px #666;
            font-weight: 700;
            .FormSelect {
                color: #1872ab;
            }
        }
        .selected-category {
            margin: 0 15px 0 10px;
            color: #1872ab;
        }
    }
    .phrase-row {
        height: 80px;
        background-color: #fafafa;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 0 9px 0 10px;
        color: #1872ab;
        .position {
            position: relative;
            text-align: left;
            left: 0;
        }
        .hits {
            position: absolute;
            right: 15px;
        }
    }
    .btns-row {
        text-align: center;
        .buttons {
            margin: 20px 10px 0 0;
            width: 6em;
        }
        .btn-back {
            background-color: #ffffff;
            border: 1px solid #1872ab;
            color: #1872ab;
        }
        .btn-next {
            background-color: #ffffff;
            border: 1px solid #1872ab;
            color: #1872ab;
        }
        .btn-random {
            background-color: #ffffff;
            border: 1px solid #23c6c8;
            color: #23c6c8;
            margin-right: 0;
        }
        .btn-translate {
            background-color: #ffffff;
            border: 1px solid #23c6c8;
            color: #23c6c8;
        }
    }
    .Row {
        height: 90px;
        margin: 0;
    }
}
.offline-row {
    padding: 10px 0 0 10px;
    color: #1872ab;
    .fa-toggle-on {
        display: inline-block;
        width: 20px;
        height: 10px;
        color: #1872ab;
    }
    .offline-btn {
        border: none;
    }
}
.online-row {
    .offline-row;
}
.phrase-col {
    padding-right: 0 !important;
}
html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.footer {
    .footer-text {
        padding-top: 5px;
        color: #ffffff;
        text-align: center;
    }
    .apple-icon {
        position: absolute;
        right: 30px;
    }
    .android-icon {
        color: #99cc33;
        position: absolute;
        right: 12%;
    }
    background-color: #1872ab;
    height: 30px;
    width: 110%;
    position: absolute;;
    bottom: -2px;
    z-index: 999;
}


@import "form";
@import "user";
