.btn:hover {
    color: #ffffff !important;
    &:focus {
        outline: none !important;
    }
}
.unfocus {
    outline: none !important;
}

.login-btn {
    margin: 10px 0 0 0;
    position: absolute;
    right: 10px;
    top: 30px;
    padding: 0 3px 0 3px;
    color: #ffffff;
    background-image: none;
    background-color: @main-color;
}
.register-btn {
    color: #ffffff;
    text-align: right;
    margin: 10px 0 0 0;
    position: absolute;
    right: 88px;
    background-image: none;
    background-color: @main-color;
    top: 30px;
}
.fa-user-circle-o {
    margin-left: 5px;
    display: inline-block;
}
.log-out-btn {
    position: absolute;
    height: 34px;
    right: 10px;
    width: 50px;
    top: 40px;
    padding: 0 3px 0 3px;
    color: #ffffff;
    background-color: @main-color;
    background-image: none;
    border-radius: .3em;
}
.user-hidden {
    position: absolute;
    right: 33%;
    top: 12%;
}
.hide {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.validation-msg-success {
    display: block;
    color: #00ff00;
}
.msg-server-error, .msg-client-error, .msg-category, {
    color: #ff0000;
}

@media screen and (max-width: 473px) {

    .log-out-btn {
        width: 50px;
        top: 40px;
        right: 10px;
    }
    .login-btn {
        right: 10px;
    }
}

@media screen and (max-width: 375px) {

    .register-btn {
        top: 30px;
        padding: 6px 3px;
        right: 86px;
    }
    .login-btn {
        top: 30px;
        right: 10px;
    }
    .log-out-btn {
        top: 40px;
        width: 50px;
        right: 10px;
    }
}
