#app {
  font-family: 'Roboto', sans-serif;
}
.header {
  height: 30px;
  background-color: #1872ab;
  margin: 0;
  width: 105%;
}
.header-text {
  color: #ffffff;
  margin-left: 10px;
  padding-top: 5px;
}
.phrase {
  font-size: 20px;
  color: #1872ab;
  text-align: center;
}
.phrase-row .select-comp {
  margin: 0 0 0 0;
}
.phrase-row .select-comp .btn-sunc {
  background-color: #23c6c8;
  margin-top: 10px;
  width: 50px;
  color: #ffffff;
  margin-left: -23px;
}
.phrase-row .select-comp .select-category {
  font: 14px 'Roboto';
  border: 1px solid #23c6c8;
  border-radius: 3px;
  margin: 10px 0 10px -5px;
  font: Helvetica 15px #666;
  font-weight: 700;
}
.phrase-row .select-comp .select-category .FormSelect {
  color: #1872ab;
}
.phrase-row .configure-col {
  text-align: right;
}
.phrase-row .configure-col .btn-configure {
  text-align: center;
  position: relative;
  right: 10px;
  bottom: 6px;
  background-color: #666666;
  color: #ffffff;
  width: 40px;
  border-radius: 4px;
}
.phrase-row .selected-category {
  display: inline;
  font: 16px 'Roboto';
  margin: 10px 0 0 10px;
  padding-top: 10px;
  color: #1872ab;
  padding-right: 70px;
}
.phrase-row .phrase-row {
  height: 80px;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 9px 0 10px;
  color: #1872ab;
}
.phrase-row .phrase-row .position {
  position: relative;
  text-align: left;
  left: 0;
}
.phrase-row .phrase-row .hits {
  position: absolute;
  right: 15px;
}
.btns-row {
  margin-top: 0;
  text-align: center;
}
.btns-row .buttons {
  margin: 3px 8px 0 0;
  width: 6em;
}
.btns-row .btn-back {
  background-color: #1872ab;
  border: 1px solid #1872ab;
  color: #23c6c8;
  border-radius: 3px;
}
.btns-row .btn-next {
  background-color: #1872ab;
  border: 1px solid #1872ab;
  color: #23c6c8;
  border-radius: 3px;
}
.btns-row .btn-random {
  font: 15px 'Roboto';
  background-color: #23c6c8;
  border: 1px solid #23c6c8;
  color: #ffffff;
  margin-right: 0;
  border-radius: 3px;
}
.btns-row .btn-translate {
  font: 15px 'Roboto';
  background-color: #23c6c8;
  border: 1px solid #23c6c8;
  color: #ffffff;
  border-radius: 3px;
}
.offline-row {
  font: 16px 'Roboto';
  padding: 10px 0 0 10px;
  margin: 0;
  color: #1872ab;
}
.offline-row .fa-toggle-on {
  display: inline-block;
  color: #1872ab;
}
.offline-row .offline-btn {
  border: none;
}
.online-row {
  font: 16px 'Roboto';
  padding: 10px 0 0 10px;
  margin: 0;
  color: #1872ab;
}
.online-row .fa-toggle-on {
  display: inline-block;
  color: #1872ab;
}
.online-row .offline-btn {
  border: none;
}
.ready-msg {
  color: green;
  padding-left: 10px;
}
.phrase-col {
  padding-right: 0 !important;
}
html {
  height: 100%;
  overflow-x: hidden;
}
.footer {
  background-color: #1872ab;
  height: 30px;
  width: 110%;
  position: absolute;
  bottom: -2px;
}
.footer .footer-text {
  padding-top: 5px;
  color: #ffffff;
  text-align: center;
}
.footer .apple-icon {
  position: absolute;
  right: 30px;
}
.footer .android-icon {
  color: #99cc33;
  position: absolute;
  right: 12%;
}
.unauthorized-msg {
  padding-top: 0;
  text-align: center;
  color: #ff0000;
  font-size: 20px;
}
.req-form-cont {
  padding-top: 40%;
  text-align: left;
  margin: 1% auto 0 auto;
  border-radius: 5px;
}
.reg-form .submit-btn {
  margin: 0 0 10px 0;
}
.login-header {
  text-align: center;
  margin: 10px 0 0 0;
  color: #676565;
}
.FormLabel {
  margin: 10px 0 5px 0;
}
.label-text {
  color: #1872ab;
}
.email-label {
  padding-top: 10px;
}
.submit-btn {
  margin-bottom: 15px;
  background-color: #23c6c8 !important;
  color: #ffffff !important;
}
.category-form {
  padding-top: 30%;
}
.category-form .category-header {
  text-align: center;
}
.form-control:focus {
  box-shadow: inset 0 1px 1px #23c6c8;
  border-color: #23c6c8 !important;
}
.config-form {
  overflow-y: auto;
}
.config-form .select-category {
  margin-top: 10px;
}
.config-form .configure-header {
  text-align: center;
  margin: 10px 0 0 0;
  color: #676565;
}
.config-form .submit-category-btn {
  margin-top: 20px;
  background-color: #23c6c8;
  color: #ffffff;
}
.configure-select {
  font: 14px 'Roboto';
  font-weight: bold;
  margin-top: 10px;
  border: 1px solid #23c6c8;
  border-radius: 5px 5px;
}
.configure-select .FormSelect {
  color: #1872ab;
}
.selected-category {
  display: block-inline;
  margin-right: 5px;
}
.configure-category {
  display: block-inline;
  color: #ffffff;
  border-radius: 2px 2px;
  background-color: #23c6c8;
  padding: 4px;
}
.configure-category .list-element {
  background-color: #1872ab;
}
.category-name-text {
  font: 16px 'Roboto';
  font-weight: bold;
}
.items-list-text {
  display: block;
  margin-top: 5px;
  font: 16px 'Roboto';
  color: #1872ab;
}
.items-list-text .items {
  display: block;
  color: #23c6c8;
}
.items-list-text .items .fa-times {
  background-image: none;
  color: #ff0000;
}
.del-category-btn {
  background-color: #ffffff;
  clear: both;
}
.del-category-btn .fa-times {
  background-image: none;
  color: #ff0000;
}
.del-selected-btn {
  font: 16px 'Roboto' !important;
  padding: 4px 4px !important;
}
.login-btn {
  margin: 10px 0 0 0;
  position: absolute;
  right: 9px;
  width: 40px;
  top: 30px;
  padding: 0 3px 0 3px;
  color: #ffffff !important;
  background-image: none;
  background-color: #1872ab !important;
}
.register-btn {
  text-align: right;
  margin: 10px 0 0 0;
  position: absolute;
  right: 70px;
  color: #ffffff !important;
  background-image: none;
  background-color: #1872ab !important;
  top: 30px;
}
.fa-user-circle-o {
  margin-left: 5px;
  display: inline-block;
}
.user-email {
  text-align: center;
  margin-left: 5%;
  position: absolute;
  width: 40px;
  right: 57px;
  top: 40px;
  border: 1px solid #1872ab;
  color: #ffffff;
  background-color: #1872ab;
  padding: 6px;
  border-radius: 3px;
}
.log-out-btn {
  text-align: center;
  margin-left: 5%;
  position: absolute;
  right: 57px;
  border: 1px solid #1872ab;
  color: #ffffff;
  background-color: #1872ab;
  padding: 6px;
  height: 34px;
  right: 10px;
  width: 40px;
  top: 40px;
  padding: 0 3px 0 3px;
  color: #ffffff !important;
  background-color: #1872ab !important;
  background-image: none;
  border-radius: 3px;
}
.user-hidden {
  position: absolute;
  right: 33%;
  top: 12%;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.validation-msg-success {
  display: block;
  color: #00ff00;
}
.msg-server-error,
.msg-client-error,
.msg-category {
  color: #ff0000;
}
@media screen and (max-width: 473px) {
  .user-email,
  .log-out-btn {
    top: 30px;
  }
  .user-email {
    top: 40px;
    right: 57px;
    width: 40px;
  }
  .log-out-btn {
    width: 40px;
    top: 40px;
  }
}
@media screen and (max-width: 375px) {
  .user-email,
  .log-out-btn {
    top: 40px;
  }
  .register-btn {
    top: 30px;
    padding: 6px 3px !important;
    right: 60px;
  }
  .login-btn {
    top: 30px;
  }
  .user-email {
    top: 40px;
    right: 57px;
    width: 40px;
  }
  .log-out-btn {
    top: 40px;
    width: 40px;
  }
}
