.login-btn {
  margin: 10px 0 0 0;
  position: absolute;
  right: 5%;
  top: 0;
  padding: 0 3px 0 3px;
}
.register-btn {
  text-align: right;
  padding: 0 3px 0 3px;
  margin: 10px 0 0 0;
  position: absolute;
  right: 15%;
  top: 0;
}
.user-email {
  margin-left: 40%;
  position: absolute;
  right: 30%;
  top: 1%;
}
.hide {
  display: none;
}
.show {
  display: block;
}
